<header class="header set-padding">
    <nav class="nav flex-sb">
        <h1 class="home"><a href="/">File Management System</a></h1>
        <div class="nav-links">
            <a href="#" class="nav-link">About</span></a>
            <a href="#" class="nav-link" id="favourites-link">Files</span></a>
        </div>
    </nav>
</header>