<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/variables.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700&display=swap" rel="stylesheet">
    <title>Create new File</title>
</head>
<body>
    <%- include('partials/header') %>
    <main class="main set-padding">
        <form action="/create-file" method="POST" class="create-form">
            <div class="form-group">
                <label for="create-form-name">File Name:</label>
                <input type="text" id="create-form-name" name="name" value="<%= fileName %>">
            </div>
            <div class="form-group">
                <label for="create-form-content">Content:</label>
                <textarea name="content" id="content" name="create-form-content" cols="50" rows="20"></textarea>
            </div>
            <button type="submit" class="user-action-button">Submit</button>
        </form>
    </main>
</body>
</html>